// _ericclapton.haml

.title
  %h2 Past
.information
  %h2{ lang: "jp" }
    エリック・クラプトン: Sessions For Robert J
  %p{ lang: "jp" }
    エリック・クラプトンとの共同プロデュースにより制作されたこの長編音楽ドキュメンタリーは、クラプトンが少年時代から深く敬愛し続けて来たデルタ・ブルースの巨匠、ロバート・ジョンソンへのトリビュート作として始められた。約一年間の間、断片的にロンドン、ダラス、ロサンゼルスで撮影が行なわれ、ジョンソンのスタイルにインスピレーションを受け、あえて荒削りなワンテーク撮りのスタイルで行なわれた ブルース・セッションの収録素材と、エリック・クラプトンのインタビュー素材をインターカットしながら、徐々にパフォーマンス・スタイルはエレクトリック・バンド構成から３０年代のジョンソンの技法と同じくソロ・アコースティックへとミニマルになり、ジョンソンへのトリビュートは徐々にエリック・クラプトンにとっての原点回帰にもなって行く。プロジェクトは米国PBS、英国 BBC等を通じ世界数十カ国でTV放送され、ワーナー・ミュージックからDVD/CDとして発売。製作期間中にiTunesによりプロジェクト一部のビデオクリップが期間限定で先行リリースされた。企画、監督、プロデュースを担当。
  %p
    %iframe{ src: "//player.vimeo.com/video/21109561?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    "Sweet Home Chicago" from Session 1
  %p
    %iframe{ src: "//player.vimeo.com/video/21988481?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    EC Visits Johnson's Last Recording Site
  %p
    %iframe{ src: "//player.vimeo.com/video/21102583?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    Interview Clip: "A Life's Work"
  %p
    %iframe{ src: "//player.vimeo.com/video/21214018?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    Last Song "Love in Vain"
  %p
