// _lostintranslation.haml

.title
  %h2 Past
.information
  %h2{ lang: "jp" } 
    ロスト・イン・トランスレーション
  %p{ lang: "jp" }
    アカデミー受賞作ロスト・イン・トランスレーションを共同プロデュース。 総予算の５０％以上の管理、及び全撮影スタッフの９０％以上を雇用 し、ソフィア・コッポラのビジョンとストーリーに基づくニーズに合った独自のインディペンデントな合作システムを 提供した。  
  %p
    %a{ href: "//www.lost-in-translation.com/", target: "_blank" } About Lost in Translation
  %p
    %img{ src: "/Lost-in-Translation-1.jpg", alt: "Lost in Translation" }
  %p
    %img{ src: "/Lost-in-Translation-2.jpg", alt: "Lost in Translation" }
