// _lostintranslation.haml

.title
  %h2 Past
.information
  %h2{ lang: "jp" } 
    ロスト・イン・トランスレーション
  %p{ lang: "jp" }
    アカデミー受賞作ロスト・イン・トランスレーションを共同プロデュース。前編日本で撮影が行なわれた作品の撮影プランニングと実行業務を担当。ボーダーランドは日本側の担当制作会社となり、プロジェクトの総予算の５０％以上の管理、及び全撮影スタッフの９０％以上を日本国内で確保し、ソフィア・コッポラのビジョンとストーリーに基づくニーズに合った独自のインディペンデントな合作システムを 提供した。 
  %p
    %a{ href: "http://www.lost-in-translation.com/", target: "_blank" } About Lost in Translation
  %p
    %img{ src: "//assets.noisey.com/content-images/contentimage/35825/Lost-in-Translation.jpg" }
  %p
    %img{ src: "//assets.noisey.com/content-images/contentimage/35824/o-LOST-IN-TRANSLATION-facebook.jpg" }
