// _marcjacobs.haml

.title
  %h2 Past
.information
  %h2{ lang: "jp" } 
    クライアント・ワーク – Marc Jacobs
  %p{ lang: "jp" }
    Marc Jacobsブランドの為にウエブやイベント映像、及びMTVとのコラボTV番組を制作。企画、監督、プロデュース を担当。
    .measuring-stick{ style: "width: 100%" }
  %p
    %iframe{ src: "//player.vimeo.com/video/21158087?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    Marc by Marc Jacobs Video Featuring Kiko Mizuhara

  %p
    %iframe{ src: "//player.vimeo.com/video/6371403?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    Excerpt from MTV Marc Jacobs Documentary 
    
  %p
    %iframe{ src: "//player.vimeo.com/video/19469052?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    Marc Jacobs Tokyo Flagship Store Documentary Part 1
    
  %p
    %iframe{ src: "//player.vimeo.com/video/18437619?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    Marc Jacobs Tokyo Flagship Store Documentary Part 2
    
  %p
    %iframe{ src: "//player.vimeo.com/video/18442091?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    Marc Jacobs Tokyo Flagship Store Documentary Part 3 M.O.S. (Without Sound)

  %p
    %iframe{ src: "//player.vimeo.com/video/18437283?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    Marc Jacobs Tokyo Flagship Store Documentary Part 4 M.O.S. (Without Sound)
    
  %p
    %iframe{ src: "//player.vimeo.com/video/23078800?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    Marc Jacobs Tokyo Flagship Store Documentary Part 5 

