// _ryuichisakamoto.haml

.title
  %h2 Upcoming
.information
  %h2{ lang: "jp" } 坂本龍一ドキュメンタリー映画
  %p{ lang: "jp" }
    坂本龍一についての音楽ドキュメンタリー映画を現在国際共同制作として製作中。３１１以降の坂本龍一の変化に焦点をあてながら、バイオグラフィフィカルな側面から今に至るまでの音楽表現と思想的進化を見つめて行くプロジェクトです。２０１７年度中、完成/発表予定。監督・プロデュースを担当。
  %p
    %a{ href: "//ja.wikipedia.org/wiki/%E5%9D%82%E6%9C%AC%E9%BE%8D%E4%B8%80", target: "_blank" } About Ryuichi Sakamoto
  / %p
  /   %img{ src: "/skmt_live_rama.jpg" }