// _yoshitakaamano.haml

.title
  %h2 Upcoming
.information
  %h2{ lang: "jp" } 天野喜孝コラボ・プロジェクト
  %p{ lang: "jp" }
    「ファイナル・ファンタジー」、「ガッチャマン」、「キャシャーン」、「吸血鬼ハンターD」等、多作のアニメやゲーム・コンテンツのオリジナル・キャラクター・デザイナーとして知られ、ニール・ゲイマン作「サンドマン」シリーズのイラスト等も手がけ、ヒューゴー賞にノミネートされた天野喜孝と共同で児童向けファンタジー・プロジェクトを創作中。原案、ライター、及び企画開発を担当。
  %p
    %a{ href: "//ja.wikipedia.org/wiki/%E5%A4%A9%E9%87%8E%E5%96%9C%E5%AD%9D", target: "_blank" } About Yoshitaka Amano
  / %p
  /   %img.border{ src: "/amano_sketch.jpg", alt: "Yoshitaka Amano" }
  /   %span.copyright &copy; Yoshitaka Amano