// stylesheet.sass

$sans-serif : "Helvetica neue", Helvetica, Arial, sans-serif
$japanense  : "Hiragino Kaku Gothic Pro", sans-serif

\:lang(jp)
  font-family: $japanense !important

$almost-black: #212121


::-webkit-scrollbar 
  -webkit-appearance: none
  width: 0px
 
// ::-webkit-scrollbar-track 
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
//   -webkit-border-radius: 0px
//   background:rgba(28,28,28,0)

// body::-webkit-scrollbar-track 
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
//   -webkit-border-radius: 0px
//   background: black !important

// body::-webkit-scrollbar-track:window-inactive 
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) 
//   -webkit-border-radius: 0px
//   background: black !important

// ::-webkit-scrollbar-track:window-inactive 
//   -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0) 
//   background: rgba(28,28,28,0)

// ::-webkit-scrollbar-thumb 
//   -webkit-border-radius: 10px
//   border-radius: 10px
//   background: rgba(150,150,150,1) 
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4) 

// ::-webkit-scrollbar:window-inactive
//   width: 0px

@mixin simpleEase()
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  -ms-transition: all 0.5s ease
  transition: all 0.5s ease

@mixin simpleEaseFast()
  -webkit-transition: all 0.25s ease
  -moz-transition: all 0.25s ease
  -o-transition: all 0.25s ease
  -ms-transition: all 0.25s ease
  transition: all 0.25s ease

html, body 
  padding     : 0
  margin      : 0

html
  width             : 100%
  body
    margin            : 0px !important
    padding           : 0px
    background-color  : white
    font-family       : $sans-serif
    font-style        : normal
    font-weight: 200
    text-transform    : normal
    letter-spacing    : normal
    h3, h2, h1, ul, li, div
      margin            : 0px
      padding           : 0px
    h2
      font-weight: 200
    .page-wrapper
      overflow-y        : hidden
      overflow-x        : hidden
    &.no-scroll
      overflow: hidden

a
  text-decoration   : none
  color             : $almost-black
  @include simpleEaseFast()
  &:hover
    color: #0000ff

#navigation-bar
  z-index: 100
  position: fixed
  top: 0px
  width: 100%
  background-color: rgba( 33, 33, 33, 0 )
  color: white
  &.dark
    background-color: rgba( 33, 33, 33, 1 )
  a
    text-decoration   : none
    color             : #FFF
    @include simpleEaseFast()
    &:hover
      color: #0000ff
  .right
    float: right
    margin-top: 8px
    padding-bottom: 12px
    padding-right: 20px
    @media only screen and (max-device-width: 880px)
      padding-right: 40px
    .language-button
      position: relative
      top: 2px
      font-size: small
      @media only screen and (max-device-width: 880px)
        font-size: 1.5em !important
        top: 20px
  .left
    float: left
    margin-top: 8px
    padding-bottom: 12px
    padding-left: 20px
    @media only screen and (max-device-width: 880px)
      margin-top: 32px
      padding-bottom: 48px
      padding-left: 40px
    a
      position: relative
      img
        display: inline-block
        width: 18px
        position: relative
        top: 4px
        @media only screen and (max-device-width: 880px)
          width: 50px
          top: 12px
        &:not(.blue)
          -webkit-filter: invert(1)
          filter: invert(1)
        &.blue
          position: absolute
          top: 1px
          left: 0px
          opacity: 0
          @include simpleEaseFast()
          &:hover
            opacity: 1
          @media only screen and (max-device-width: 880px)
            top: 10px
    span
      display: inline-block
      padding-left: 10px
      @media only screen and (max-device-width: 880px)
        padding-left: 24px
  span
    margin: 0px
  @media only screen and (max-device-width: 880px)
    font-size: 3em 



.section
  display: table
  border-top: 1px solid $almost-black
  width: 100%
  margin-top: 40px
  padding-top: 3px
  padding-bottom: 40px
  color: $almost-black
  @media only screen and (max-device-width: 880px)
    border-top: none

  .title, .information
    display: table-cell
    @media only screen and (max-device-width: 880px)
      display: table-row

  .title
    width: 25%
    @media only screen and (max-device-width: 880px)
      h2 
        padding-bottom: 0.5em 
        font-size: 4em
        border-bottom: 1px solid $almost-black

  .information
    ul
      list-style-type: none
      li:not(:first-child)
        border-top: 1px solid $almost-black   
      li:not(:last-child)
        margin-bottom: 1.5em 
    p
      line-height: 1.2em
    @media only screen and (max-device-width: 880px)
      h2
        font-size: 2.5em
        font-weight: 300
      p
        font-size: 3em
       


.page-wrapper
  width: 100vw
  #video
    width: 100%
    video
      width: 100%     
  .about
    .information
      p:first-child
        margin-top: 0px     
  .work, .about
    margin-left: 20px
    margin-right: 20px
    @media only screen and (max-device-width: 880px)
      margin-left: 40px
      margin-right: 40px



#navigation-modal
  z-index: 1000
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 255, 0.8)
  color: white
  display: none

  .navigation-bar
    margin-top: 10px
    margin-left: 20px
    @media only screen and (max-device-width: 880px)
      font-size: 3em 
      margin-right: 40px
      margin-top: 26px
    img
      display: inline-block
      width: 18px
      position: relative
      top: 3px
      -webkit-filter: invert(1)
      filter: invert(1)
      @media only screen and (max-device-width: 880px)
        width: 50px
        top: 14px
        left: 14px
    span
      display: inline-block
      padding-left: 10px
      @media only screen and (max-device-width: 880px)
        padding-left: 26px

  a
    color: white
    @include simpleEaseFast()
    &:hover
      color: black

  .section
    border-top: 1px solid white
    margin-top: 20px
    color: white
    @media only screen and (max-device-width: 880px)
      border-top: none

    .information
      li:not(:first-child)
        border-top: 1px solid white

    .title
      @media only screen and (max-device-width: 880px)
        h2
          border-bottom: 1px solid white

  .work, .about
    margin-left: 20px
    margin-right: 20px
    @media only screen and (max-device-width: 880px)
      margin-left: 40px
      margin-right: 40px




#footer
  width: 100%
  text-align: right
  border-top: 1px solid $almost-black
  margin-top: 40px
  color: $almost-black
  @media only screen and (max-device-width: 880px)
    text-align: center
  p
    padding-right: 10px
    margin-bottom: 13px
    font-size: small
    @media only screen and (max-device-width: 880px)
      font-size: 2em





///////// PROJECT PAGES ////////////


.project-page
  #navigation-bar
    z-index: 100
    background-color: rgba( 255, 255, 255, 1)
    color: $almost-black    
    a.menu-button
      position: relative
      img
        display: inline-block
        width: 18px
        position: relative
        top: 4px
        @media only screen and (max-device-width: 880px)
          width: 50px
          top: 12px
        &:not(.blue)
          -webkit-filter: invert(0)
          filter: invert(0)
        &.blue
          position: absolute
          top: 1px
          left: 0px
          opacity: 0
          @include simpleEaseFast()
          &:hover
            opacity: 1
    a
      color: $almost-black
      @include simpleEaseFast()
      &:hover
        color: #00F
      &.language-button
        @media only screen and (max-device-width: 880px)
          font-size: 1em !important
          top: 20px

    #border-bottom
      border-bottom: 1px solid $almost-black
      margin: 43px 20px 0px 20px
      @media only screen and (max-device-width: 880px)
        margin-top: 120px
        margin-left: 40px
        margin-right: 40px

  .page-wrapper
    width: 100vw
    padding-top: 45px
    @media only screen and (max-device-width: 880px)
      padding-top: 120px

  .project-pane
    // display: table
    .left-arrow, .center-content, .right-arrow
      // display: table-cell
    .left-arrow, .right-arrow
      vertical-align: middle
      text-align: center
      width: 10vw
      img
        position: fixed
        top: 50vh
        opacity: 0.4
        @include simpleEaseFast()
        &:hover
          opacity: 1

    .left-arrow
      img
        left: 20px
    .right-arrow 
      img
        transform: rotate(180deg)
        -webkit-transform: rotate(180deg)
        right: 20px
    .center-content
      margin-left: 20px
      margin-right: 20px
      .section
        display: none
        margin-top: 0px
        color: $almost-black
        border: none
        .information
          p:first-of-type
            border-top: 1px solid $almost-black
            padding-top: 0.5em
          p
            padding-right: 40px
            img
              width: 100% 
              &.border
                border: 1px solid $almost-black
            .copyright
              float: right
              line-height: 0.8em
              font-size: 0.6em
          a
            color: rgba( 0, 0, 0, 0.5 )
            @include simpleEaseFast()
            &:hover
              color: blue
        &.selected
          display: table
    @media only screen and (max-device-width: 880px)
      display: table
      .arrow-wrapper, .center-content
        display: table-row
      .arrow-wrapper
        .left-arrow, .right-arrow
          display: table-cell
          img
            position: static !important
            width: 80px
        .left-arrow
          float: left
          padding-left: 30px
        .right-arrow
          float: right
          padding-right: 30px

      .section
        margin-left: 40px
        margin-right: 40px


  .error-page
    margin-top: 10px
    margin-left: 20px
