// _ericclapton.haml

.title
  %h2 Past
.information
  %h2 
    Eric Clapton: Sessions For Robert J
  %p
    This feature-length music documentary was made in tribute to legendary delta bluesman Robert Johnson.  It interweaves live blues sessions and a full interview.  EC talks about Johnson’s music and craft in relation to his own.  The sessions were filmed in London, Dallas, and LA.  We started with a full band, then gradually stripped away elements until Eric performed solo acoustic emulating Johnson’s original style from the 30’s.  Sessions aired via PBS, the BBC, Fuji + many other TV networks around the world.  It was also released globally by Warner Music as a DVD/CD.  Video clips from the project were initially launched via iTunes.
  %p
    %iframe{ src: "https://player.vimeo.com/video/21109561?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    "Sweet Home Chicago" from Session 1
  %p
    %iframe{ src: "https://player.vimeo.com/video/21988481?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    EC Visits Johnson's Last Recording Site
  %p
    %iframe{ src: "https://player.vimeo.com/video/21102583?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    Interview Clip: "A Life's Work"
  %p
    %iframe{ src: "https://player.vimeo.com/video/21214018?color=ffffff&title=0&byline=0&portrait=0", width: "500", height: "281", frameborder: "0" }
    %br
    Last Song "Love in Vain"
  %p
