// _lostintranslation.haml

.section#lostintranslation
.title
  %h2 Past
.information
  %h2 
    Lost In Translation
  %p
    Co-produced the Academy Award winning film.  Borderland served as the local production services company for the film and was directly responsible for all Japanese elements as well as for managing over 50% of the film’s total production budget.  All shooting took place in Japan and a majority of the production crew (over 90%) was local; hybrid US-Japanese production systems were custom designed vis-à-vis Sofia Coppola’s vision and script.  Production was completed on budget and on time despite a tight 27 day shoot schedule. 
  %p
    %a{ href: "http://www.lost-in-translation.com/" } About Lost in Translation

  %img{ src: "//assets.noisey.com/content-images/contentimage/35825/Lost-in-Translation.jpg" }
  %img{ src: "//assets.noisey.com/content-images/contentimage/35824/o-LOST-IN-TRANSLATION-facebook.jpg" }
