// _ryuichisakamoto.haml

.title
  %h2 Upcoming
.information
  %h2 Ryuichi Sakamoto Music Documentary
  %p
    Directing and producing a feature-length documentary film about Oscar-winning composer/artist/activist Ryuichi Sakamoto.  The film is the first major documentary about the internationally acclaimed artist, which examines the evolution of Sakamoto’s creative process and social philosophy in the wake of Japan’s cataclysmic disaster of March 2011.  Slated for completion during 2017.
  %p
    %a{ href: "//en.wikipedia.org/wiki/Ryuichi_Sakamoto", target: "_blank" } About Ryuichi Sakamoto
  %p
    %img{ src: "/skmt_live_rama.jpg" }