// _yoshitakaamano.haml

.section#yoshitakaamano
.title
  %h2 Upcoming
.information
  %h2 Yoshitaka Amano Collaboration
  %p
    Co-creating a children’s fantasy book with Hugo Award nominee Yoshitaka Amano, original character designer for acclaimed anime projects such as Vampire Hunter D and Battle of the Planets, as well as the Final Fantasy game franchise.
  %p
    %a{ href: "https://en.wikipedia.org/wiki/Yoshitaka_Amano" } About Yoshitaka Amano
