// _yoshitakaamano.haml

.title
  %h2 Upcoming
.information
  %h2 Yoshitaka Amano Collaboration
  %p
    Co-creating a children’s fantasy book project with Hugo Award nominee Yoshitaka Amano, original character designer for acclaimed anime projects such as BATTLE OF THE PLANETS, VAMPIRE HUNTER D, as well as the FINAL FANTASY game franchise, who is also an illustrator for acclaimed works such as the SANDMAN series.
  %p
    %a{ href: "https://en.wikipedia.org/wiki/Yoshitaka_Amano", target: "_blank" } About Yoshitaka Amano
  / %p
  /   %img.border{ src: "/amano_sketch.jpg", alt: "Yoshitaka Amano" }
  /   %span.copyright &copy; Yoshitaka Amano