// _navigation_modal.haml

#navigation-modal
  .navigation-bar
    %a.x-button{ href: "" }
      %img{ src: "/x_icon.svg", alt: "Close" } 
    %span
      %strong Borderland Media, LLC
      
  .work
    .upcoming.section
      .title 
        %h2 Upcoming
      .information
        %ul
          %li 
            %a{ href: "/ryuichisakamoto" }
              %h2 Ryuichi Sakamoto Music Documentary
          %li 
            %a{ href: "/yoshitakaamano" }
              %h2 Yoshitaka Amano Collaboration
    .past.section
      .title
        %h2 Past
      .information
        %ul
          %li 
            %a{ href: "/ericclapton" }
              %h2 Eric Clapton: Sessions For Robert J
          %li 
            %a{ href: "/lostintranslation" }
              %h2 Lost In Translation
          %li 
            %a{ href: "/marcjacobs" }
              %h2 Commissioned Work – Marc Jacobs
  .about
    .section
      .title
        %a.about-button{ href: url( "/#about" ) }
          %h2 About