// index.haml

#video
  - case @video_number
    - when 0
      // Car Donut
      %video{ autoplay: "", loop: "", poster: "/fallback_image/Loop_9.jpg" }
        %source{ src: "/Videos/Loop 9.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 9.mp4", type: "video/mp4" }
    - when 1
      // Moon
      %video{ autoplay: "", loop: "", poster: "/fallback_image/Loop_1.jpg" }
        %source{ src: "/Videos/Loop 1.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 1.mp4", type: "video/mp4" }
    - when 2
      // Train
      %video{ autoplay: "", loop: "", poster: "/fallback_image/Loop_2.jpg" }
        %source{ src: "/Videos/Loop 2.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 2.mp4", type: "video/mp4" }
    - when 3
      // Fridges
      %video{ autoplay: "", loop: "", poster: "/fallback_image/Loop_6.jpg" }
        %source{ src: "/Videos/Loop 6.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 6.mp4", type: "video/mp4" }
    - when 4
      // NM Landscape
      %video{ autoplay: "", loop: "", poster: "/fallback_image/Loop_7.jpg" }
        %source{ src: "/Videos/Loop 7.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 7.mp4", type: "video/mp4" }
    - else
      // Skating
      %video{ autoplay: "", loop: "", poster: "/fallback_image/Loop_8.jpg" }
        %source{ src: "/Videos/Loop 8.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 8.mp4", type: "video/mp4" }

.work
  .upcoming.section
    .title 
      %h2 Upcoming
    .information
      %ul
        %li 
          %a{ href: "/ryuichisakamoto" }
            %h2 Ryuichi Sakamoto Music Documentary
        %li 
          %a{ href: "/yoshitakaamano" }
            %h2 Yoshitaka Amano Collaboration

  .past.section
    .title
      %h2 Past
    .information
      %ul
        %li 
          %a{ href: "/ericclapton" }
            %h2 Eric Clapton: Sessions For Robert J
        %li 
          %a{ href: "/lostintranslation" }
            %h2 Lost In Translation
        %li 
          %a{ href: "/marcjacobs" }
            %h2 Commissioned Work – Marc Jacobs

.about#about
  .section
    .title
      %h2 About
    .information
      %p
        %strong Stephen Nomura Schible
        was born and raised in Tokyo.  He grew up in a bilingual and international environment — his mother was Japanese, father  was American. He moved to New York at the age of 18 to study filmmaking at New York University’s Tisch School of the Arts. While in school, he served as an assistant director under documentarian
        %strong Kazuo Hara (THE EMPEROR’S NAKED ARMY MARCHES ON),
        whose work deeply influenced Michael Moore amongst others.
      %p
        After graduating from film school in the mid 90’s, Stephen established
        %strong Borderland Media
        as he began to work as an international liaison for award-winning Japanese directors such as
        %strong Shinji Aoyama
        who helmed
        %strong EUREKA
        (winner of the FIPRESCI prize and the Prize of the Ecumentical Jury at the Cannes Film Festival), and 
        %strong Naomi Kawase
        whose
        %strong MOE NO SUZAKU
        won the Camera d’Or at Cannes. Eventually Stephen began to oversee international co-productions filmed in Japan such as
        %string H-STORY,
        directed by
        %strong
        Nobuhiro Suwa (M/OTHER),
        based on the work of 
        %strong Marguerite Duras
        and set in Hiroshima.
      %p
        In 2002 and 2003, Stephen Co-Produced
        %strong LOST IN TRANSLATION,
        which was filmed entirely on location in Tokyo and Kyoto. Directed by
        %strong Sofia Coppola,
        and starring Scarlett Johansson and Bill Murray, the film received four Oscar nominations, including Best Picture.  It won the Oscar for Best Screenplay.
      %p
        Subsequently Stephen continued with his producing efforts as he also began his directing career. He collaborated with
        %strong Eric Clapton
        on a feature-length music documentary titled
        %strong ERIC CLAPTON: SESSIONS FOR ROBERT J.
        The project, which Stephen conceived, directed, and produced, was made in tribute to blues legend
        %strong Robert Johnson,
        Clapton’s foremost musical influence. 
      %p
        Stephen currently resides in New York while continuing to produce, direct, and write creative content for multiple platforms together with a select network of collaborators and clientele. 
      %br
      %br
      %p
        %strong Borderland Media, LLC
        %br
        630 9th Avenue, Suite 508
        %br
        New York, NY 10036
        %br
        %span#email sns [at] borderlandmedia [dot] net

