// projects.haml

.project-pane
  .arrow-wrapper
    .left-arrow
      %a{ href: "" }
        %img.left-button{ src: "/arrow_icon.svg", alt: "Back" }
    .right-arrow
      %a{ href: "" }
        %img.right-button{ src: "/arrow_icon.svg", alt: "Forward" }
        
  .center-content{ project_page: @page }
    - projects = [ "ryuichisakamoto", "yoshitakaamano", "ericclapton", "lostintranslation", "marcjacobs" ]
    - projects.each do | p |
      - class_attr = if p == @page then "section selected" else "section" end
      %div{ id: p, class: class_attr }
        - if @jp
          = haml :"jp/project_pages/_#{p}"
        - else
          = haml :"project_pages/_#{p}"
