// jp/_navigation_modal.haml

#navigation-modal
  .navigation-bar
    %a.x-button{ href: "" }
      %img{ src: "/x_icon.svg", alt: "Close" } 
    %span
      %strong Borderland Media, LLC
      
  .work
    .upcoming.section
      .title 
        %h2 Upcoming
      .information{ lang: "jp" }
        %ul
          %li 
            %a{ href: "/jp/ryuichisakamoto" }
              %h2 坂本龍一ドキュメンタリー映画
          %li 
            %a{ href: "/jp/yoshitakaamano" }
              %h2 天野喜孝コラボ・プロジェクト

    .past.section
      .title
        %h2 Past
      .information{ lang: "jp" }
        %ul
          %li 
            %a{ href: "/jp/ericclapton" }
              %h2 エリック・クラプトン: Sessions For Robert J
          %li 
            %a{ href: "/jp/lostintranslation" }
              %h2 ロスト・イン・トランスレーション
          %li 
            %a{ href: "/jp/marcjacobs" }
              %h2 クライアント・ワーク – Marc Jacobs
  .about
    .section
      .title
        %a{ href: "/jp/#about" }
          %h2 About



          