// index.haml

#video
  %video{ autoplay: "", loop: "", poster: "/video_fallback.jpg" }
    - case @video_number
      - when 0
        %source{ src: "/Videos/Loop 9.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 9.mp4", type: "video/mp4" }
      - when 1
        %source{ src: "/Videos/Loop 1.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 1.mp4", type: "video/mp4" }
      - when 2
        %source{ src: "/Videos/Loop 2.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 2.mp4", type: "video/mp4" }
      - when 3
        %source{ src: "/Videos/Loop 3.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 3.mp4", type: "video/mp4" }
      - when 4
        %source{ src: "/Videos/Loop 6.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 6.mp4", type: "video/mp4" }
      - when 5
        %source{ src: "/Videos/Loop 7.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 7.mp4", type: "video/mp4" }
      - else
        %source{ src: "/Videos/Loop 8.webm", type: "video/webm" }
        %source{ src: "/Videos/Loop 8.mp4", type: "video/mp4" }

.work
  .upcoming.section
    .title 
      %h2 Upcoming
    .information{ lang: "jp" }
      %ul
        %li 
          %a{ href: "/jp/ryuichisakamoto" }
            %h2 坂本龍一ドキュメンタリー映画
        %li 
          %a{ href: "/jp/yoshitakaamano" }
            %h2 天野喜孝コラボ・プロジェクト

  .past.section
    .title
      %h2 Past
    .information{ lang: "jp" }
      %ul
        %li 
          %a{ href: "/jp/ericclapton" }
            %h2 エリック・クラプトン: Sessions For Robert J
        %li 
          %a{ href: "/jp/lostintranslation" }
            %h2 ロスト・イン・トランスレーション
        %li 
          %a{ href: "/jp/marcjacobs" }
            %h2 クライアント・ワーク – Marc Jacobs

.about#about
  .section
    .title
      %h2 About
    .information
      %p{ lang: "jp" }
        スティーブン・シブル。東京で生まれ育ち、アメリカン・スクール卒業後、渡米。ニューヨーク大学映画学部で映像制作を学ぶ。在学中、１９歳の時に「ゆきゆきて、神軍」等で世界的に知られ、マイケル・ムーアにも大きな影響を与えた事で知られるドキュメンタリー作家、原一男の下で助監督を勤める経験を経て、卒業後、劇映画やTVドキュメンタリーの助監督や制作の仕事をする
      %p{ lang: "jp" }
        ９６年、 NYにてボーダーランドメディアを設立。WOWOWの制作する映画コンテンツの海外担当を勤め、カンヌやベルリンの映画祭やマーケットで作品を紹介し、海外からの制作資金調達や配給マーケットの拡大に成功する。 「青山真治監督、役所広司主演「EUREKA」（カンヌ・コンペ部門出品、 「国際批評家連盟賞」及び「エキュメニック賞」受賞)，河瀬直美監督作品「火乗」等のプロジェクト に貢献をし、Marguerite Duras原作、 Beautrice Dalle主演で広島を舞台にした日仏合作映画H-Story（カンヌ「ある視点」出品）等の制作にも関わるようになる
      %p{ lang: "jp" }
        以後、全編日本で撮影されたソフィア・コッポラ監督作品「ロスト・イン・トランスレーション」の日本側のCo-Producerとして抜擢される。同作品はアカデミー賞で優秀作品賞を含む４部門でノミネートされ、最優秀脚本賞を受賞。
      %p{ lang: "jp" }
        後に音楽コンテンツでは、エリック・クラプトンと共同でブルースの巨匠、ロバート・ジョンソンへのトリビュート音楽長編ドキュメンタリーEric Clapton: Sessions For Robert Jを制作。企画から立ち上げ、監督としても参加をしたこのプロジェクトは、米国PBSや英国BBC等を含む、全世界数十カ国で放送され、DVD/CDとしてもワーナーからワールドワイドでリリースされた。 広告関係では、Marc Jacobsの映像担当も勤め、 現在NYを拠点にしながら活動中。 
      %br
      %br
      %p
        %strong Borderland Media, LLC
        %br
        630 9th Avenue, Suite 508
        %br
        New York, NY 10036
        %br
        %span#email sns [at] borderlandmedia [dot] net

